{% extends base_template %}

{% block navbar_title %}
    Ailove <small>Потребители</small>
{% endblock %}

{% block sonata_admin_content %}
    <div class="row">
        <div class="col-xs-12 col-md-12 sonata-filters-box">
        <div class="box box-primary">
            <div class="box-body">
                <form class="sonata-filter-form form-horizontal" action="{{ path('ailove.admin.winner.list') }}" method="GET" role="form" _lpchecked="1">
                        <div class="col-sm-2">
                            <label for="select-promo">По промо</label>
                            <select id="select-promo" name="promo" class="form-control" data-sonata-select2="false">
                                <option disabled {% if not app.request.query.get('promo') %} selected {% endif %}>Выберите промо</option>
                                {% for promo in promos %}
                                    <option value="{{ promo.systemName }}" {% if app.request.query.get('promo') == promo.systemName %} selected {% endif %}>{{ promo.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-sm-2">
                            <label for="select-prize">По призу</label>
                            <select id="select-prize" name="prize" class="form-control" data-sonata-select2="false">
                                <option {% if not app.request.query.get('prize') %} selected {% endif %} disabled>Выберите приз</option>

                                {% for prize in prizes %}
                                    <option value="{{ prize.systemName }}" {% if app.request.query.get('prize') == prize.systemName %} selected {% endif %}>{{ prize.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-sm-2">
                            <label for="select-gte">Начиная с</label>
                            <input id="select-gte" name="won_gte" class="form-control" type="date" value="{{ app.request.query.get('won_gte') }}">
                        </div>

                        <div class="col-sm-2">
                            <label for="select-lte">По</label>
                            <input id="select-lte" name="won_lte" class="form-control" type="date" value="{{ app.request.query.get('won_lte') }}">
                        </div>

                        <div class="col-lg-3 col-sm-4 col-xs-12 text-center" style="margin-top: 25px">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-filter"></i> Фильтровать
                            </button>
                            <a class="btn btn-default" href="{{ path('ailove.admin.winner.list') }}">
                                Сбросить
                            </a>
                        </div>
                </form>
            </div>
        </div>
    </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-12">
                <div class="box box-primary" style="margin-bottom: 100px;">
                    <div class="box-body table-responsive no-padding">

                        <table class="table table-bordered table-striped sonata-ba-list">
                            <thead>
                                <tr class="sonata-ba-list-field-header">
                                    <th class="sonata-ba-list-field-header-text">ID выдачи</th>
                                    <th class="sonata-ba-list-field-header-text">Дата</th>
                                    <th class="sonata-ba-list-field-header-text">ID пользователя</th>
                                    <th class="sonata-ba-list-field-header-text">Приз</th>
                                </tr>
                            </thead>

                            <tbody>

                            {% for winner in pagination %}
                                <tr>
                                    <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                        {{ winner.id }}
                                        {#<a class="sonata-link-identifier" href="/app_dev.php/sonata-admin/adw/adminstaff/staffuser/4/edit">admin</a>#}
                                    </td>
                                    <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                        {{ winner.wonAt | localizeddate }}
                                        {#<a class="sonata-link-identifier" href="/app_dev.php/sonata-admin/adw/adminstaff/staffuser/4/edit">admin</a>#}
                                    </td>
                                    <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                        <a class="sonata-link-identifier" href="{{ path('adw.ailove.user.show', {id: winner.user}) }}">{{ winner.user }}</a>
                                    </td>
                                    <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                        {{ winner.prize.name }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer">
                        <div class="col-md-9">
                            {{ knp_pagination_render(pagination, 'KnpPaginatorBundle:Pagination:twitter_bootstrap_v3_pagination.html.twig') }}
                        </div>

                        <div class="col-md-3">
                            <strong>Призов в списке: {{ pagination.getTotalItemCount() }}</strong>
                        </div>
                    </div>
                </div>
        </div>

    </div>
{% endblock %}
