{% extends base_template %}

{% block navbar_title %}
    Ailove <small>Потребители</small>
{% endblock %}

{% block sonata_admin_content %}
    <div class="row">
        <div class="col-xs-12 col-md-12 sonata-filters-box">
        <div class="box box-primary">
            <div class="box-body">
                <form class="sonata-filter-form form-horizontal" action="{{ path('ailove.admin.rating') }}" method="GET" role="form" _lpchecked="1">
                        <div class="col-sm-4">
                            <label for="select-promo">По промо</label>
                            <select id="select-promo" name="promo" class="form-control" data-sonata-select2="false">
                                <option disabled {% if not app.request.query.get('promo') %} selected {% endif %}>Выберите промо</option>
                                {% for promo in promos %}
                                    <option value="{{ promo.systemName }}" {% if app.request.query.get('promo') == promo.systemName %} selected {% endif %}>{{ promo.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-sm-4">
                            <label for="select-selector">По селектору</label>
                            <input id="select-selector" class="form-control" type="text" name="selector" value="{{ app.request.query.get('selector') }}">
                            <p class="help-block">Доступные селекторы необходимо уточнять у разработчика</p>
                        </div>

                        <div class="col-lg-3 col-sm-4 col-xs-12 text-center" style="margin-top: 25px">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-filter"></i> Фильтровать
                            </button>
                            <a class="btn btn-default" href="{{ path('ailove.admin.rating') }}">
                                Сбросить
                            </a>
                        </div>
                </form>
            </div>
        </div>
    </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-12">

            {% for flash_message in app.session.flashbag.get('error') %}
                <div class="alert alert-danger">
                    {{ flash_message }}
                </div>
            {% endfor %}



            {% if pagination is not empty %}
                <div class="box box-primary" style="margin-bottom: 100px;">
                    <div class="box-body table-responsive no-padding">

                        <table class="table table-bordered table-striped sonata-ba-list">
                            <thead>
                                <tr class="sonata-ba-list-field-header">
                                    <th class="sonata-ba-list-field-header-text">ID</th>
                                    <th class="sonata-ba-list-field-header-text">Имя</th>
                                    <th class="sonata-ba-list-field-header-text">Баллы</th>
                                </tr>
                            </thead>

                            <tbody>

                            {% for user in pagination %}
                                <tr>
                                    <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                        {{ user.id }}
                                        {#<a class="sonata-link-identifier" href="/app_dev.php/sonata-admin/adw/adminstaff/staffuser/4/edit">admin</a>#}
                                    </td>
                                    <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                        <a class="sonata-link-identifier" href="{{ path('adw.ailove.user.show', {id: user.id}) }}">{{ user.fullname }}</a>
                                    </td>
                                    <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                        {{ user.balancePoints }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer">
                        <div class="col-md-9">
                            {{ knp_pagination_render(pagination, 'KnpPaginatorBundle:Pagination:twitter_bootstrap_v3_pagination.html.twig') }}
                        </div>

                        <div class="col-md-3">
                            <strong>Пользователей в списке: {{ pagination.getTotalItemCount() }}</strong>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="alert alert-warning">
                    По этим фильтрам ничего не найдено.
                </div>
            {% endif %}
        </div>

    </div>
{% endblock %}
