{% extends base_template %}

{% block navbar_title %}
        Ailove <small>Потребители</small>
{% endblock %}

{% block sonata_admin_content %}
    <div class="row">
        <div class="col-xs-12 col-md-12 sonata-filters-box">
            <div class="box box-primary">
                <div class="box-body">
                    <form class="sonata-filter-form form-horizontal" action="{{ path('ailove.admin.user.list') }}" method="GET" role="form" _lpchecked="1">
                        <input type="text" class="form-control input-circle input-large" name="search" placeholder="Поиск..." value="{{ app.request.query.get('search') }}">
                    </form>
                </div>
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-xs-12 col-md-12">
        {% if usersPagination is not empty %}
        <div class="box box-primary" style="margin-bottom: 100px;">
            <div class="box-body table-responsive no-padding">
                        <table class="table table-hover table-bordered">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Тип</th>
                                <th style="width: 100%">Имя</th>
                                <th style="min-width: 205px;">Действия</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in usersPagination %}
                                <tr>
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.type.name }}</td>
                                    <td>{{ user.firstname }} {{ user.middlename }} {{ user.lastname }}</td>
                                    <td>
                                        <a href="{{ path('adw.ailove.user.show', {'id': user.id}) }}" class="btn default btn-sm blue-stripe"><i class="fa fa-edit"></i> Подробно</a>
                                        <a href="{{ ailove_customer_link(user.id) }}" class="btn default btn-sm purple-stripe"><i class="fa fa-arrow-right"></i> Ailove</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
            </div>
            <div class="box-footer">
                {{ knp_pagination_render(usersPagination, 'KnpPaginatorBundle:Pagination:twitter_bootstrap_v3_pagination.html.twig') }}
            </div>
        </div>
        {% else %}
            <div class="alert alert-warning">
                Пользователей по запросу "{{ app.request.query.get('search') }}" не найдено.
            </div>
        {% endif %}
    </div>

</div>


{% endblock %}
