{% extends base_template %}

{% block navbar_title %}
    <h3 class="page-title">
        Информация о пользователе #{{ user.id }}
    </h3>
{% endblock %}

{% block sonata_admin_content %}
<div class="row">
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h4 class="box-title">
                    Пользователь #{{ user.id }}
                </h4>
            </div>
            <div class="box-body table-responsive no-padding">
                <table class="table">
                    <tr class="sonata-ba-view-container">
                        <th>Имя</th><td>{{ user.firstName }}</td>
                    </tr>
                    <tr class="sonata-ba-view-container">
                        <th>Фамилия</th><td>{{ user.lastName }}</td>
                    </tr>
                    <tr class="sonata-ba-view-container">
                        <th>Отчество</th><td>{{ user.middleName | default('Не указано') }}</td>
                    </tr>
                    <tr class="sonata-ba-view-container">
                        <th>Email</th><td>{{ user.email | default('Не указано') }} {{ user.emailVerified == 'verified' ? '<span class="label label-success">Подтвержден</span>' : '<span class="label label-warning">Не подтвержден</span>' }}</td>
                    </tr>
                    <tr class="sonata-ba-view-container">
                        <th>Телефон</th><td>{{ user.phone | default('Не указано') }} {{ user.phoneVerified == 'verified' ? '<span class="label label-success">Подтвержден</span>' : '<span class="label label-warning">Не подтвержден</span>' }}</td>
                    </tr>
                    <tr class="sonata-ba-view-container">
                        <th>Тип</th><td>{{ user.type.name | default('Не указано') }}</td>
                    </tr>
                    <tr class="sonata-ba-view-container">
                        <th>День рождения</th>
                        <td>
                            {% if user.birthDay %}
                                {{ user.birthDay | localizeddate }} {#({{ user.age }} лет)#}
                            {% else %}
                                Не указано
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="sonata-ba-view-container">
                        <th>Район продаж</th><td>{{ sales_district }}</td>
                    </tr>
                    <tr class="sonata-ba-view-container">
                        <th>Обработка данных</th><td>{{ user.hasProcessDataPermission() ? 'Да' : 'Нет' }}</td>
                    </tr>
                    <tr class="sonata-ba-view-container">
                        <th>Отправка email</th><td>{{ user.hasSendEmailPermission() ? 'Да' : 'Нет' }}</td>
                    </tr>
                    <tr class="sonata-ba-view-container">
                        <th>Отправка sms</th><td>{{ user.hasSendSmsPermission() ? 'Да' : 'Нет' }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h4 class="box-title">
                    Рейтинг пользователя
                </h4>
            </div>

            <div class="box-body no-padding table-responsive">
                <table class="table">
                    <tr class="sonata-ba-view-container"><th>Позиция в рейтинге</th><td id="user-rating-position">Loading...</td>
                    </tr>
                    <tr class="sonata-ba-view-container">
                        <th>Баллы</th><td id="user-balance">Loading...</td>
                    </tr>
                </table>

                <div class="box-body">
                    <form class="sonata-filter-form form-horizontal no-padding" id="user-stats-form" role="form" method="GET">
                        <div class="col-md-6">
                            <div class="form-group">
                                <select id="select-promo" name="promo" class="form-control" data-sonata-select2="false">
                                    <option disabled {% if not app.request.query.get('promo') %} selected {% endif %}>Выберите промо</option>
                                    {% for promo in promos %}
                                        <option value="{{ promo.systemName }}" {% if app.request.query.get('promo') == promo.systemName %} selected {% endif %}>{{ promo.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="selector" class="form-control" placeholder="Селектор">
                            </div>
                        </div>

                        <input type="submit" style="display: none;" />

                        <button type="submit" class="btn btn-primary">Применить</button>

                        <div id="stats-status-block">
                        </div>
                    </form>

                    <form class="sonata-filter-form form-horizontal no-padding" id="replace-rating-form" role="form" method="GET" autocomplete="on">
                        <h3>Перенести баллы</h3>
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form_widget(replaceSelectorForm.promo) }}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_widget(replaceSelectorForm.old_selector, {"attr": {
                                    "class": "form-control",
                                    "placeholder": "Старый селектор",
                                    "autocomplete": "on"
                                }}) }}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_widget(replaceSelectorForm.new_selector, {"attr": {
                                    "class": "form-control",
                                    "placeholder": "Новый селектор"
                                }}) }}
                            </div>
                        </div>

                        {{ form_widget(replaceSelectorForm.user) }}

                        <button type="submit" class="btn btn-primary">Применить</button>

                        <div id="replace-status-block">
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <script type="text/javascript">

            function loadUserStats(filters) {

                errorBlock = $('#stats-status-block');

                $(errorBlock).html('');

                $.get('{{ path('ailove.admin.rating.user_stats', {id: user.id}) }}', filters, function(data) {
                    $('#user-rating-position').text(data.rating_position);
                    $('#user-balance').text(data.balance);
                }).fail(function(res){
                    errors = res.responseJSON.errors;
                    for (error in errors) {
                        $(errorBlock).append('<span class="label label-danger">' + error + ': ' + errors[error] + '</span><br>');
                    }
                });
            }

            loadUserStats();

            $('#user-stats-form').submit(function(e){
                e.preventDefault();
                loadUserStats($(this).serialize());
            });

            $('#user-stats-form').change(function(e){
                loadUserStats($(this).serialize());
            });

            $('#replace-rating-form').submit(function(e){
                e.preventDefault();

                var form = this;

                $('#replace-status-block').html('');

                $
                    .post('{{ path('ailove.admin.utils.replace_rating_selector') }}', $(this).serialize())
                    .success(function(data){
                        $('#replace-status-block').html('<span class="label label-success">Перенесено</span>');
                        loadUserStats($('#user-stats-form').serialize());
                    })
                    .fail(function(res){
                        $(res.responseJSON.fields).each(function(){
                            $('#replace-status-block').append('<span class="label label-danger">' + this.message + '</span><br>');
                        });
                    })
                ;
            });
        </script>
    </div>
</div>

<div class="row">
    {% for contact in user.contacts %}
    <div class="col-md-6">
        <div class="box" style="border-top-color: #FF9800">
            <div class="box-header with-border">
                <h4 class="box-title">
                     Контакт #{{ contact.id }}
                </h4>
            </div>
            <div class="box-body table-responsive no-padding">
                <table class="table">
                    <tr class="sonata-ba-view-container">
                        <th>Тип</th><td>{{ contact.type | default('Не указан') }}</td>
                    </tr>
                    {% if contact.country is not empty and contact.country.name is not empty %}
                        <tr class="sonata-ba-view-container">
                            <th>Страна</th><td>{{ contact.country.name }}</td>
                        </tr>
                    {% endif %}
                    {% if contact.region is not empty %}
                        <tr class="sonata-ba-view-container">
                            <th>Регион</th><td>{{ contact.region }}</td>
                        </tr>
                    {% endif %}
                    {% if contact.city is not empty %}
                        <tr class="sonata-ba-view-container">
                            <th>Город</th><td>{{ contact.city }}</td>
                        </tr>
                    {% endif %}
                    {% if contact.street | trim is not empty %}
                        <tr class="sonata-ba-view-container">
                            <th>Улица</th><td>{{ contact.street }}</td>
                        </tr>
                    {% endif %}
                    {% if contact.house is not empty %}
                        <tr class="sonata-ba-view-container">
                            <th>Дом</th><td>{{ contact.house }}</td>
                        </tr>
                    {% endif %}
                    {% if contact.building is not empty %}
                        <tr class="sonata-ba-view-container">
                            <th>Корпус</th><td>{{ contact.building }}</td>
                        </tr>
                    {% endif %}
                    {% if contact.apartment is not empty %}
                        <tr class="sonata-ba-view-container">
                            <th>Квартира</th><td>{{ contact.apartment }}</td>
                        </tr>
                    {% endif %}
                    {% if contact.zipCode is not empty %}
                        <tr class="sonata-ba-view-container">
                            <th>Индекс</th><td>{{ contact.zipCode }}</td>
                        </tr>
                    {% endif %}
                    {% if contact.mobilePhone is not empty %}
                        <tr class="sonata-ba-view-container">
                            <th>Мобильный телефон</th><td>{{ contact.mobilePhone }}</td>
                        </tr>
                    {% endif %}
                </table>
            </div>

        </div>
    </div>
    {% endfor %}
</div>

<div class="row">
    {% for pet in pets %}
        <div class="col-md-6">
            <div class="box" style="border-top-color: #2196F3">
                <div class="box-header with-border">
                    <h4 class="box-title">
                        Питомец #{{ pet.id }}
                    </h4>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table">
                        <tr class="sonata-ba-view-container">
                            <th>Тип</th><td>{{ pet.type | trans | default('Не указан') }}</td>
                        </tr>
                        {% if pet.name is not empty %}
                            <tr class="sonata-ba-view-container">
                                <th>Имя</th><td>{{ pet.name }}</td>
                            </tr>
                        {% endif %}
                    </table>
                </div>

            </div>
        </div>
    {% endfor %}
</div>

<div class="row">
    {% for userPromo in userPromos %}
        <div class="col-md-6">
            <div class="box" style="border-top-color: #F44336">
                <div class="box-header with-border">
                    <h4 class="box-title">
                        Промо {{ userPromo.promo }}
                    </h4>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table">
                        <tr class="sonata-ba-view-container">
                            <th>Согласен с правилами</th><td>{{ userPromo.agreedTerms ? 'Да' : 'Нет' }}</td>
                        </tr>
                        <tr class="sonata-ba-view-container">
                            <th>Дата</th><td>{{ userPromo.createdAt | localizeddate() }}</td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    {% endfor %}
</div>


<div class="row">
    {% for userPrize in userPrizes %}
        <div class="col-md-6">
            <div class="box" style="border-top-color: #673AB7">
                <div class="box-header with-border">
                    <h4 class="box-title">
                        Приз #{{ userPrize.id }}
                    </h4>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table">
                        <tr class="sonata-ba-view-container">
                            <th>Приз</th><td>{{ userPrize.prize.name }} ({{ userPrize.prize.systemName }})</td>
                        </tr>
                        <tr class="sonata-ba-view-container">
                            <th>Дата</th><td>{{ userPrize.wonAt | localizeddate() }}</td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    {% endfor %}
</div>

<a href="{{ ailove_customer_link(user.id) }}" class="btn default btn-sm purple-stripe"><i class="fa fa-arrow-right"></i> Побробнее в Ailove</a>
{% endblock %}

