{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block content %}
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-equalizer font-purple-plum"></i>
                <span class="caption-subject font-purple-plum ">CRM Ailove</span>
                <span class="caption-helper">monthly stats...</span>
            </div>
            <div class="tools">
                <a href="" class="collapse" data-original-title="" title="">
                </a>
                <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title="">
                </a>
                <a href="" class="reload" data-original-title="" title="">
                </a>
                <a href="" class="remove" data-original-title="" title="">
                </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="alert alert-success">
                Серверы CRM доступны. Среднее время ответа - 300ms
            </div>
        </div>
    </div>
{% endblock %}